{% extends 'main-new.html' %}
{% load i18n %}

{% block content %}
  <div class="p-3 bg-white rounded box-shadow">
    <div class="col-md-12">
      <h2 class="mb-4">Confirm Booking</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Date</th>
            <td>{{ form_data.date|date:'d M Y' }}</td>
          </tr>
          <tr>
            <th scope="row">Start Time</th>
            <td>{{ form_data.start_time  }}</td>
          </tr>
          <tr>
            <th scope="row">Duration</th>
            <td>{{ form_data.duration }} Mins</td>
          </tr>
        </tbody>
      </table>   
      
      <div class="p-0 clearfix">
        <form action={% url 'checkout' %} method="post">
          {% csrf_token %}
          <button class="btn btn-primary float-right" type="submit">Confirm</button>
        </form>
        <form action={% url 'booking_cancel' %} method="post">
          {% csrf_token %}
          <button class="btn btn-default float-left" type="submit">Cancel</button>
        </form>
      </div> 
    </div>
  </div>
{% endblock %}