{% extends 'main-new.html' %}
{% load i18n %}

{% block content %}

  <div class="mb-3 p-3 bg-white rounded box-shadow">
    <div class="col-md-12">
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message | safe }}
        </div>
      {% endfor %}
      <div id="alertContainer"></div>
      <form id="booking-form" method="post" action="{% url 'book-now' %}" novalidate>
        {% csrf_token %}
        <input type="hidden" name="device_id" value="1">
        <h4 class="pb-2 mb-4 underlined-header">Book Now</h4>
        <div class="form-group">
          <p>Schedule a &nbsp;
            <label class="btn btn-danger mr-2 mb-0 cursor-pointer"><input class="" type="radio" name="duration" value="30" data-next-input="date-input"> 30 Mins</label>
            <label class="btn btn-danger mb-0 cursor-pointer"><input class="" type="radio" name="duration" value="60" data-next-input="date-input"> 60 Mins</label>
            &nbsp; slot in next 14 days.
          </p>
        </div>
        <div id="date-input" class="form-group" style="display: none">
          <div class="col-sm-5 p-0">              
            <div class="datepicker date input-group">
              <input type="text" name="date" class="form-control" placeholder="Choose Date" required autocomplete="off">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div id="time-input" class="form-group" style="display: none">
          <div class="col-sm-5 p-0">
            <select class="form-control" id="time-slot" name="start_time"></select>
          </div>
        </div>
        <div id="form-submit" class="form-group row mt-4" style="display: none">
          <div class="col-sm-9">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>

<script>
  // moment.tz.setDefault("America/New_York");
  var todayDate = moment().format('YYYY-MM-DD');
  var currentTime = moment().format('hh.mm');

  $('input[type=radio][name=duration]').change(function() {
    $('#' + $(this).data("next-input")).show();
    generate_time_slot(parseInt($(this).val()))
  });

  $('.datepicker').datepicker({
    language: "es",
    autoclose: true,
    format: "yyyy-mm-dd",
    beforeShowDay: function(date) {
      var specificDates = {{selected_dates|safe}};
      var dateString = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
      if (specificDates.includes(dateString)) {
        return {
          classes: 'date-enabled'
        };
      } else {
        return {
          enabled: false
        };
      }
    }
  });

  $('.datepicker').on('changeDate', function() {
    generate_time_slot(parseInt($('input[name="duration"]:checked').val()))
    $('#time-input').show();
  });

  $('#time-slot').change(function() {
    $('#form-submit').show();
  });

  var validator = $("#booking-form").validate({
    rules: {
      duration: {
        required: true
      },
      date: {
        required: true,
        date: true
      },
      start_time: {
        required: true
      }
    },
    messages: {
      duration: {
        required: "Please select the duration",
      },
      date: {
        required: "Please select a date",
      },
      start_time: {
        required: "Please enter a start time"
      }
    },
    submitHandler: function(form) {
      var data_exists = false;
      var time_lessthan = false;
      var booking_form = $("#booking-form");

      $('#booking-form button[type="submit"]').html('<i class="fa fa-spinner fa-spin"></i> Loading...').prop('disabled', true);

      $.ajax({
        url: '/check_booking_time',
        type: "POST",
        async: false,
        data: booking_form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data) {
            console.log('time slot', data.time)
            time_lessthan = data.time
          }        
        }
      });

      if (!time_lessthan) {
        Swal.fire({
          text: 'The selected time slot is less than the current time.',
          icon: 'error',
          confirmButtonText: 'OK'
        });
        $('#booking-form button[type="submit"]').html('Submit').prop('disabled', false);
        return false
      }

      $.ajax({
        url: '/check_availability',
        type: "POST",
        async: false,
        data: booking_form.serialize(),
        dataType: 'json',
        success: function (data) {
          if (data) {
            console.log('record exists', data.exists)
            data_exists = data.exists
          }        
        }
      });

      if (data_exists) {
        Swal.fire({
          text: 'The selected time slot is not available.',
          icon: 'error',
          confirmButtonText: 'OK'
        });
        $('#booking-form button[type="submit"]').html('Submit').prop('disabled', false);
        return false
      }

      form.submit();
    },
    errorPlacement: function(error, element) {
      if (element.attr("type") == "radio") {
        error.appendTo(element.closest('.form-group'));
      } else {
        error.appendTo(element.closest('.form-group'));
      }
    }
  });

  function generate_time_slot(interval) {
    var select = $('#time-slot');
    var startTime = new Date();
    startTime.setHours(5, 30, 0, 0); // Set start time to 5:30 AM
    var endTime = new Date();
    endTime.setHours(22, 30, 0, 0); // Set end time to 10:30 PM
    select.html('')

    var currentTime = new Date(startTime);
    select.append($('<option>', {
      value: 0,
      text: 'Select Time'
    }));
    while (currentTime <= endTime) {
        var hours = currentTime.getHours();
        var minutes = ('0' + currentTime.getMinutes()).slice(-2);
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // Convert 0 to 12 for AM/PM notation
        var optionText = hours + ':' + minutes + ' ' + ampm;
        var optionValue = ('0' + currentTime.getHours()).slice(-2) + ':' + ('0' + currentTime.getMinutes()).slice(-2);
        select.append($('<option>', {
            value: optionValue,
            text: optionText
        }));
        currentTime.setMinutes(currentTime.getMinutes() + interval); // Increment time by 30 minutes
    }
  }
</script>
{% endblock %}