<ul class="nav navbar-nav navbar-right">
  <li><a href="{% url "index" %}">Home</a></li>

  {% if user.is_authenticated %}
  <li>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">logout</button>
  </form>
  </li>
  {% else %}
  <li><a href="{% url "register" %}"><span class="glyphicon glyphicon-user"></span>   Sign up</a></li>
  <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span>   Log in</a></li>
  {% endif %}

</ul>
